.breakpoint-0 {
  margin-left: auto;
  margin-right: auto;
  width: 100%
}
.style46,
.style47 {
  display: flex;
  flex-direction: column
}
.style46 {
  width: 100%;
  height: 5vh;
  align-items: stretch
}
.style47 {
  background-color: #f6f8f9;
  height: 100%;
  align-items: center;
  justify-content: center
}
.desktop1container18container19row0 {
  display: flex;
  width: 97.222%;
  height: 60%;
  align-items: center
}
.style48,
.style49,
.style50,
.style51,
.style52 {
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700;
  height: 50%
}
.style49,
.style50,
.style51,
.style52 {
  font-size: 11px;
  height: 40%
}
.style53 {
  width: 2.142%;
  height: 100%
}
.desktop1row1 {
  display: flex;
  margin-top: 0;
  width: 100%;
  height: 60vh
}
.desktop1row1,
.style0,
.style1 {
  align-items: stretch
}
.style0 {
  display: flex;
  width: 58.333%;
  flex-direction: column
}
.style1 {
  height: 100%
}
.style1,
.style2,
.style3,
.style9 {
  display: flex;
  flex-direction: column
}
.style2 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk9wupk80dpn29.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  justify-content: center;
  height: 100%
}
.style3,
.style9 {
  width: 71.428%;
  height: 41.166%
}
.style9 {
  width: 100%;
  height: 24.291%;
  align-items: stretch
}
.style10 {
  font-size: 24px;
  font-weight: 700;
  line-height: 42px
}
.style10,
.style4,
.style5 {
  font-family: Helvetica,serif
}
.style5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px;
  width: 100%
}
.style4 {
  font-size: 16px;
  line-height: 26px;
  width: 93.333%
}
.style6,
.style7 {
  display: flex;
  flex-direction: column
}
.style6 {
  width: 22.333%;
  height: 16.194%;
  align-items: stretch
}
.style7 {
  background-color: #fa6980;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-radius: 6px
}
.style8 {
  text-align: center;
  font-family: Helvetica,serif;
  font-size: 11px;
  font-weight: 700;
  line-height: 20px;
  width: 55.223%
}
.style93 {
  width: 41.666%;
  align-items: stretch
}
.style93,
.style94,
.style95 {
  display: flex;
  flex-direction: column
}
.style94 {
  background-color: #fff;
  height: 100%
}
.style95 {
  width: 63.333%;
  height: 10%;
  align-items: stretch
}
.desktop1row1container41container42container43row0 {
  display: flex;
  height: 33.333%;
  align-items: center
}
.style96 {
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  width: 87.105%
}
.style99 {
  opacity: .30000001192092896;
  position: relative;
  display: flex;
  width: 1.578%;
  height: 50%;
  align-items: stretch;
  flex-direction: column
}
.style100 {
  height: 100%
}
.style97 {
  display: flex;
  width: 1.578%;
  height: 50%;
  align-items: stretch;
  flex-direction: column
}
.style98 {
  height: 100%
}
.style102 {
  display: flex;
  width: 63.333%;
  height: 49.833%;
  flex-direction: column
}
.desktop1row1container41container42container46row0 {
  display: flex;
  width: 110.526%;
  height: 43.143%;
  align-items: stretch
}
.style103 {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row1container41container42container46row0container47column0 {
  display: flex;
  height: 38.759%;
  align-items: stretch;
  flex-direction: column
}
.style104,
.style105 {
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px
}
.desktop1row1container41container42container46row0column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style106 {
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  line-height: 26px;
  width: 90.476%
}
.style107 {
  display: flex;
  width: 20%;
  height: 12.403%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row1container41container42container46row0column0container48row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style109 {
  display: flex;
  width: 19.047%;
  align-items: stretch;
  flex-direction: column
}
.style110 {
  height: 100%
}
.style108 {
  font-family: Helvetica,serif;
  font-size: 13px;
  line-height: 26px;
  width: 69.047%
}
.desktop1row1container41container42container46row1 {
  display: flex;
  width: 110.526%;
  height: 43.143%;
  align-items: stretch
}
.style111 {
  display: flex;
  width: 100%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row1container41container42container46row1container50column0 {
  display: flex;
  height: 38.759%;
  align-items: stretch;
  flex-direction: column
}
.style112,
.style113 {
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px
}
.desktop1row1container41container42container46row1column0 {
  display: flex;
  width: 100%;
  flex-direction: column
}
.style114 {
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  line-height: 26px;
  width: 90.476%
}
.style115 {
  display: flex;
  width: 20%;
  height: 12.403%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row1container41container42container46row1column0container51row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style117 {
  display: flex;
  width: 19.047%;
  align-items: stretch;
  flex-direction: column
}
.style118 {
  height: 100%
}
.style116 {
  font-family: Helvetica,serif;
  font-size: 13px;
  line-height: 26px;
  width: 69.047%
}
.style54,
.style86 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.style54 {
  margin-left: 9.72%;
  margin-top: 4%;
  width: 80.555%;
  height: 41vh
}
.style86 {
  height: 4.878%
}
.desktop1container20container37row0 {
  display: flex;
  height: 100%;
  align-items: center
}
.style87 {
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  width: 88.362%
}
.style88 {
  display: flex;
  width: 4.482%;
  height: 50%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container20container37row0container38row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style91 {
  opacity: .30000001192092896;
  display: flex;
  width: 11.538%;
  align-items: stretch;
  flex-direction: column
}
.style92 {
  height: 100%
}
.style89 {
  display: flex;
  width: 11.538%;
  align-items: stretch;
  flex-direction: column
}
.style90 {
  height: 100%
}
.style55 {
  display: flex;
  height: 85.365%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container20container21row0 {
  display: flex;
  height: 100%;
  align-items: stretch;
  justify-content: space-between
}
.style56 {
  width: 31.034%;
  align-items: stretch
}
.style56,
.style57,
.style58,
.style59 {
  display: flex;
  flex-direction: column
}
.style57 {
  height: 100%;
  align-items: stretch
}
.style58,
.style59 {
  position: relative
}
.style59 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk9wupk80dppjm.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  align-items: stretch;
  height: 51.428%
}
.style58 {
  background-color: #fff;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.style60,
.style61 {
  width: 77.777%;
  align-self: center
}
.style60 {
  font-weight: 700;
  font-family: Helvetica,serif;
  font-size: 16px;
  line-height: 20px
}
.style61 {
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  line-height: 23px
}
.style62 {
  display: flex;
  width: 19.166%;
  height: 8.888%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container20container21row0container22container23image8container24container25row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style64 {
  display: flex;
  width: 23.188%;
  align-items: stretch;
  flex-direction: column
}
.style65 {
  height: 100%
}
.style63 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.style66 {
  width: 31.034%;
  align-items: stretch
}
.style66,
.style67,
.style68,
.style69 {
  display: flex;
  flex-direction: column
}
.style67 {
  height: 100%;
  align-items: stretch
}
.style68,
.style69 {
  position: relative
}
.style69 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk9wupk80dpr4c.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  align-items: stretch;
  height: 51.428%
}
.style68 {
  background-color: #fff;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.style70,
.style71 {
  width: 77.777%;
  align-self: center
}
.style70 {
  font-weight: 700;
  font-family: Helvetica,serif;
  font-size: 16px;
  line-height: 20px
}
.style71 {
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  line-height: 23px
}
.style72 {
  display: flex;
  width: 18.333%;
  height: 8.888%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container20container21row0container27container28image10container29container30row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style74 {
  display: flex;
  width: 24.242%;
  align-items: stretch;
  flex-direction: column
}
.style75 {
  height: 100%
}
.style73 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.style76 {
  width: 31.034%;
  align-items: stretch
}
.style76,
.style77,
.style78,
.style79 {
  display: flex;
  flex-direction: column
}
.style77 {
  height: 100%;
  align-items: stretch
}
.style78,
.style79 {
  position: relative
}
.style79 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk9wupk80dps4o.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  align-items: stretch;
  height: 51.428%
}
.style78 {
  background-color: #fff;
  height: 100%;
  flex-shrink: 0;
  border-radius: 6px 6px
}
.style80,
.style81 {
  width: 77.777%;
  align-self: center
}
.style80 {
  font-weight: 700;
  font-family: Helvetica,serif;
  font-size: 16px;
  line-height: 20px
}
.style81 {
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  line-height: 23px
}
.style82 {
  display: flex;
  width: 18.333%;
  height: 8.888%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container20container21row0container32container33image12container34container35row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style84 {
  display: flex;
  width: 24.242%;
  align-items: stretch;
  flex-direction: column
}
.style85 {
  height: 100%
}
.style83 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.desktop1row3 {
  display: flex;
  margin-left: 9.72%;
  margin-top: 4%;
  width: 80.555%;
  height: 95.1vh
}
.style12 {
  font-family: Helvetica,serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 20px;
  width: 66.379%
}
.style147 {
  width: 65.517%;
  height: 94.637%;
  align-items: stretch
}
.style147,
.style148,
.style149 {
  display: flex;
  flex-direction: column
}
.style148 {
  align-items: stretch;
  height: 47.777%
}
.style149 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk9wupk80dpxyv.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  height: 100%
}
.style157 {
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 90.789%
}
.style150 {
  display: flex;
  width: 89.473%;
  height: 23.72%;
  align-self: center;
  flex-direction: column
}
.style151,
.style152 {
  font-family: Helvetica,serif;
  width: 100%
}
.style152 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px
}
.style151 {
  font-size: 16px;
  line-height: 26px
}
.style153 {
  display: flex;
  width: 9.852%;
  height: 15.686%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row3container67container68image29container69container70row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style155 {
  display: flex;
  width: 23.88%;
  align-items: stretch;
  flex-direction: column
}
.style156 {
  height: 100%
}
.style154 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.style158,
.style159 {
  display: flex;
  flex-direction: column
}
.style158 {
  align-items: stretch;
  height: 47.777%
}
.style159 {
  background-image: url(https://designresources.assets.yotako.io/e7upyk9wupk80dpymp.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
  background-position-y: center;
  height: 100%
}
.style167 {
  font-family: Helvetica,serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  width: 90.789%
}
.style160 {
  display: flex;
  width: 89.473%;
  height: 23.72%;
  align-self: center;
  flex-direction: column
}
.style161,
.style162 {
  font-family: Helvetica,serif;
  width: 100%
}
.style162 {
  font-weight: 700;
  font-size: 24px;
  line-height: 34px
}
.style161 {
  font-size: 16px;
  line-height: 26px
}
.style163 {
  display: flex;
  width: 9.852%;
  height: 15.686%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row3container67container72image31container73container74row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style165 {
  display: flex;
  width: 23.88%;
  align-items: stretch;
  flex-direction: column
}
.style166 {
  height: 100%
}
.style164 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.style119,
.style120 {
  display: flex;
  width: 31.034%;
  height: 100%;
  align-items: flex-end;
  flex-direction: column
}
.style120 {
  width: 14.444%;
  height: 1.051%;
  align-items: stretch
}
.desktop1row3container53container54row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style123 {
  opacity: .30000001192092896;
  display: flex;
  width: 11.538%;
  align-items: stretch;
  flex-direction: column
}
.style124 {
  height: 100%
}
.style121 {
  display: flex;
  width: 11.538%;
  align-items: stretch;
  flex-direction: column
}
.style122 {
  height: 100%
}
.style125,
.style126 {
  display: flex;
  flex-direction: column
}
.style125 {
  width: 100%;
  align-items: stretch;
  height: 94.216%
}
.style126 {
  height: 30.357%
}
.style128 {
  width: 100%;
  height: 77.205%
}
.style127 {
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  width: 100%
}
.style129 {
  display: flex;
  width: 41.944%;
  height: 5.882%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row3container53container57container58container59row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style131 {
  display: flex;
  width: 10.596%;
  align-items: stretch;
  flex-direction: column
}
.style132 {
  height: 100%
}
.style130 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.style133 {
  display: flex;
  height: 30.357%;
  flex-direction: column
}
.style135 {
  width: 100%;
  height: 77.205%
}
.style134 {
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  width: 100%
}
.style136 {
  display: flex;
  width: 32.222%;
  height: 5.882%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row3container53container57container61container62row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style138 {
  display: flex;
  width: 13.793%;
  align-items: stretch;
  flex-direction: column
}
.style139 {
  height: 100%
}
.style137 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.style140 {
  display: flex;
  height: 30.357%;
  flex-direction: column
}
.style142 {
  width: 100%;
  height: 77.205%
}
.style141 {
  font-family: 'Acumin Pro',serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  width: 100%
}
.style143 {
  display: flex;
  width: 35.833%;
  height: 5.882%;
  align-items: stretch;
  flex-direction: column
}
.desktop1row3container53container57container64container65row0 {
  display: flex;
  height: 100%;
  align-items: stretch
}
.style145 {
  display: flex;
  width: 12.403%;
  align-items: stretch;
  flex-direction: column
}
.style146 {
  height: 100%
}
.style144 {
  font-family: Helvetica,serif;
  font-size: 13px
}
.style13,
.style14 {
  display: flex;
  flex-direction: column
}
.style13 {
  margin-top: 10.9%;
  width: 100%;
  height: 20vh;
  align-items: stretch
}
.style14 {
  background-color: #a6adb4;
  height: 100%;
  align-items: center;
  justify-content: center
}
.desktop1container5container6row0,
.style15 {
  display: flex;
  width: 80.555%;
  height: 42%
}
.style15 {
  width: 32.672%;
  height: 100%;
  flex-direction: column
}
.desktop1container5container6row0container7row0 {
  display: flex;
  width: 100%;
  height: 17.857%;
  align-items: stretch;
  align-self: stretch;
  justify-content: space-between
}
.style16,
.style17,
.style18,
.style28 {
  font-family: 'Acumin Pro',serif;
  font-size: 13px;
  font-weight: 700
}
.style16,
.style17,
.style18 {
  font-family: Helvetica,serif
}
.desktop1container5container6row0container7row1 {
  display: flex;
  width: 68.337%;
  height: 17.857%;
  align-items: stretch
}
.style25,
.style26,
.style27 {
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700
}
.desktop1container5container6row0container7row2 {
  display: flex;
  width: 72.295%;
  height: 17.857%;
  align-items: stretch
}
.style19,
.style20,
.style21 {
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700
}
.desktop1container5container6row0container7row3 {
  display: flex;
  width: 65.435%;
  height: 17.857%;
  align-items: stretch
}
.style22,
.style23,
.style24 {
  font-family: Helvetica,serif;
  font-size: 13px;
  font-weight: 700
}
.style29,
.style30 {
  display: flex;
  flex-direction: column
}
.style29 {
  width: 22.413%;
  height: 78.571%;
  align-items: stretch
}
.style30 {
  background-color: #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  opacity: .10000000149011612;
  height: 60.606%;
  align-items: center;
  justify-content: center;
  border-radius: 6px
}
.desktop1container5container6row0container8container9row0 {
  display: flex;
  width: 84.615%;
  height: 40%;
  align-items: stretch
}
.style33 {
  font-family: Helvetica,serif;
  font-size: 13px;
  line-height: 20px;
  width: 15.909%
}
.style31 {
  display: flex;
  width: 7.272%;
  align-items: stretch;
  flex-direction: column
}
.style32 {
  height: 100%
}
.style34 {
  font-family: Helvetica,serif;
  font-size: 11px;
  line-height: 20px
}
.style35 {
  display: flex;
  width: 13.793%;
  height: 19.048%;
  align-items: stretch;
  flex-direction: column
}
.desktop1container5container6row0container11row0 {
  display: flex;
  height: 100%;
  align-items: stretch;
  justify-content: space-between
}
.style42 {
  display: flex;
  width: 10%;
  align-items: stretch;
  flex-direction: column
}
.style43 {
  height: 100%
}
.style39,
.style40 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.style39 {
  width: 10%
}
.style40 {
  background-color: #fff;
  height: 100%
}
.style41 {
  height: 81.109%
}
.style36,
.style37 {
  display: flex;
  align-items: stretch;
  flex-direction: column
}
.style36 {
  width: 10%
}
.style37 {
  background-color: #fff;
  height: 99.993%
}
.style38 {
  height: 100%
}
.style44 {
  display: flex;
  width: 10%;
  align-items: stretch;
  flex-direction: column
}
.style45 {
  height: 100%
}